@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    background: #140606;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.navbar a {
    font-size: 1.6rem;
    color: #fff;
    margin-left: 3rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar a:hover, .navbar a.active {
    color: #c60505;
}

#menu-icon {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.home .home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate {
    position: relative;
    width: 32rem;

}

.home-content .text-animate h3 {
    font-size: 3rem;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: .7px  #c60505;
}

.home-sci {
    position: absolute;
    bottom: 5rem;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #930505;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}